* {
  box-sizing: border-box;
}

div {
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 500px;
  margin: auto;
}

.header {
  flex: 2;
}

.navi {
  flex: 1;
}

.body {
  flex: 6;
  display: flex;
}

.section {
  flex: 2;
}

.side {
  flex: 1;
}

.footer {
  flex: 2;
}
