.container {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  margin: auto;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


table, th, tr, td {
  border: 1px solid black;
  text-align: center;
}